<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4544751596-8dchp27u9u0rtsd9p7k0cevl05lsdbnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4544751596-8dchp27u9u0rtsd9p7k0cevl05lsdbnk</string>
	<key>API_KEY</key>
	<string>AIzaSyDsbB0Ad2olDrinl6Bp31ekAnFT-BKXlkg</string>
	<key>GCM_SENDER_ID</key>
	<string>4544751596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.edriveapp</string>
	<key>PROJECT_ID</key>
	<string>mobdapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mobdapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4544751596:ios:7a82f9d7e09b377eba42c9</string>
</dict>
</plist>